/* BTP SOW IMAGE POPUP */
.btp-img-grid{
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
  grid-gap: 30px 20px;
  user-select: none;
}

.btp-img-grid .btp-card-body:hover,
.btp-modal-btn{ cursor: pointer; }
.btp-img-modal .thumbnail-bg{ min-height: 180px; }

.btp-img-modal .thumbnail-bg,
.btp-img-grid .thumbnail-bg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.btp-img-grid .thumbnail-bg{ width: 100%; height: 100%; }

.btp-img-grid .thumbnail-bg::after{
  content: "";
  display: block;
  padding-top: 100%;
}

.btp-img-modal .thumbnail-bg{ align-self: start; }
.btp-img-grid .btp-card-body .meta{ padding: 20px 0 10px; }

.btp-img-grid .name{
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #3d3d3d;
}

/* BTP POPUP */
.btp-img-modal .modal-dialog{ max-width: 800px; top: 15%; }
.btp-img-modal .modal-content{ border: none; border-radius: 0; background-color: #fafafa; }
.btp-img-modal .modal-header{ margin:40px 44px 0; padding:0; border-bottom-width: 2px; }
.btp-img-modal .modal-header .headline{
  color: #9f00c5;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
}
.btp-img-modal .modal-body{ padding: 0; }
.btp-img-modal a.close{ color: #3d3d3d; font-size: 30px; font-weight: 400; opacity: 0.75; cursor: pointer; outline: none; }
.btp-img-modal .btp-card-body{ margin: 35px 44px 50px; }
.btp-img-modal .meta{
  height: auto;
  margin-left: 10px;
  font-size: 14px;
  line-height: 24px;
}

.btp-img-modal .btn-web,
.btp-modal-btn{
  display: inline-flex;
  align-items: center;
  color: #9f00c5;
  margin-top: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  padding: 12px 20px;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #9f00c5;
  box-sizing: border-box;
}
.btp-img-modal .btn-web i,
.btp-modal-btn i{ margin-left: 10px; }
/* BTP POPUP */

@media(min-width: 768px){
  .btp-img-modal .btp-card-body{ display: grid; grid-template-columns: 200px 1fr; }
  .btp-img-modal .thumbnail-bg{ max-width: 180px !important; }
}

@media only screen and (max-width: 768px) and (min-width: 768px){
  .btp-img-modal .modal-dialog{ width: 700px !important; height: 500px !important; top: 12% !important; }
  .btp-img-modal .meta{ margin: 0 !important; }
  .btp-img-modal .btp-card-body{ margin-top: 20px !important; }
}

@media(max-width: 768px){
  .btp-img-grid{ grid-template-columns: repeat( 2, 1fr );  }
  .btp-img-modal .modal-dialog { width: 95%; margin: 0 auto; top: 6%; }
  .btp-img-modal .modal-header .headline{
    font-size: 21px;
    line-height: 31px;
    text-transform: capitalize;
  }
  .btp-img-modal .thumbnail-bg{ max-width: 100%; }
  .btp-img-modal .meta { margin-left: 0px; margin-top: 3%; }
  .btp-img-modal .btp-card-body { margin: 0px 15px 30px; }
  .btp-img-modal .modal-header { margin: 20px 15px 10px; }
}

@media(max-width: 500px){ .btp-img-grid{ grid-template-columns: repeat( 1, 1fr ); } }
