/* Typography and general styles*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Poppins:wght@400;600;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #3d3d3d;
}
p, p a {
  font-family: 'Merriweather', serif;
  font-size: 1em;
}
h1 { font-size: 3em; line-height: 60px; }
h2 { font-size: 2em; line-height: 48px; }
h3 { font-size: 1.8em; line-height: 42px; }
h4 { font-size: 1.6em; line-height: 36px; }
h5 { font-size: 1.4em; line-height: 32px; }
h6 { font-size: 1.2em; line-height: 28px; }

.purple {
  color: #9F00C5; /* used for on some headlines, buttons, links etc */
}

button {
  border: 1px solid #9F00C5;
  padding: 20px 12px;
  color: #9F00C5;
  background: white;
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
}

/* Header styles */
header {
  background: #F2F2F2;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  /* height: 100px; */
  text-transform: uppercase;
}
/* header nav {
  margin-bottom:38px;
} */
header nav a {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 0.9em;
  font-weight: 400;
  color: #3d3d3d;
  text-decoration: none;
}
header nav a:hover {
  font-weight:600;
}
header nav a:active {
  color: #9F00C5;
}

/* FEATURED/BANNER IMAGE used on homepage slider, single templates, category templates */
.featured {
  height: 500px;
  background-repeat: no-repeat !important; 
  background-attachment: scroll !important;
  background-position: center center !important;
  background-size: cover !important;
}
.featured > .featured-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

main .overlay-div {
  /* wrapper */
  margin-top: -132px;
  margin-bottom: 140px;
  background-color: #FAFAFA;
  max-width: 1108px;
  padding: 42px 56px 100px 51px;
  margin-left: auto;
  margin-right: auto;
  
}

.page-title {
  color: #9F00C5;
  font-size: 3em;
  margin: unset;
}

.page-title-separator {
  border: 1px solid #d7d7d7;
  margin: 30px 0;
}

.page-description p{
  max-width: 660px;
}

.orbit-posts-wrapper {
  margin-top: 30px
}

/* Orbit template style = card */
.orbit-post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.orbit-post-grid article.post-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 245px 1fr;
  grid-template-areas: "image" "content";
  max-height: 400px;
  overflow: hidden;
  background-color: white;
}

.orbit-post-grid article.post-card a {
  text-decoration: none;
}



.orbit-post-grid article.post-card .feat-img {
  grid-area: image;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.orbit-post-grid article.post-card .feat-img-overlay {
  position: absolute;
  bottom: 14px;
  left: 11px;
  height: 20px;
  background: #3d3d3d;
  border-radius: 2px;
  color: white;
  padding: 5px 3px;
  font-size: 0.75em;
  font-weight: 500;
}
.orbit-post-grid article.post-card .content-wrap {
  background: white;
  padding: 10px;
}
.orbit-post-grid article.post-card .title {
  color: #3d3d3d;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.orbit-post-grid article.post-card .authors {
  font-weight: 500;
  font-size: 0.9em;
  color: #828282;
  margin-bottom: 0px;
}
.orbit-post-grid article.post-card .meta {
  color: #bdbdbd;
}

.orbit-btn-load-parent {
  margin-top: 30px;
}

.orbit-btn-load-parent .load-more, .btp-btn {
  font-size: 1em;
  font-weight: 600;
  min-width: 147px;
  line-height: 16px;
  padding: 12px 20px;
  text-transform: uppercase;
}

.btp-btn a {
  color: #9F00C5;
  text-decoration: none;
}

.orbit-btn-load-parent .load-more i, .btp-btn i {
  margin-left: 17px;
}
/* End of Orbit template style = card */

/* Orbit template style = list */

/* End of Orbit template style = card */




/* Single.php */

.single main .overlay-div {
  margin-top: -132px;
  margin-bottom: 140px;
  background-color: #FAFAFA;
  max-width: 830px;
  padding: 71px 85px 100px 85px;
  margin-left: auto;
  margin-right: auto;
}

.single .post-date {
  font-weight: 400;
  font-size: 0.875em;
  line-height: 16px;
  color: #828282;
}

.single .post-title {
  margin: 30px 0px;
  font-weight: 600;
  font-size: 3em;
  line-height: 60px;
}

.single .post-excerpt {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1.25em;
  line-height: 36px;
  margin-bottom: 30px;
}

.single .post-author-link {
  font-family: 'Poppins', serif;
  font-weight: 500;
  font-size: 1em;
  color: #828282;
  line-height: 20px;
}

.single .post-author-link a {
  display: inline-flex;
  align-items: flex-end;
  color: #828282;
  text-decoration: none;
  margin-bottom: 20px;
}

.single .post-author-link a.post-author {
  color: #9F00C5;
  text-decoration: underline;
  font-size: 1.25em;
}


.single #collapseSummary {
  font-family: 'Merriweather', serif;
  color: #3d3d3d;
  font-weight: 300;
  font-size: 1em;
  line-height: 26px;
}

.single .page-title-separator {
  margin: 10px -85px 30px -85px;
  border: 1px solid #E0E0E0;
}


blockquote, .wp-block-quote {
  margin: 50px 0px 50px 60px;
  padding-left: 20px;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 1.25em;
  line-height: 32px;
  color: #9F00C5;
  border-left: 7px solid #9f00c5;
}

figure {
  margin: 30px 0;
}

figure img {
  width: 100%;
  display: block;
}

.wp-block-image figcaption {
  color: #828282;
  font-weight: 500;
  font-size: .875em;
  line-height: 15px;
  margin-bottom: 30px;
}

.post-tag-pills {
  margin: 50px 0px;
  list-style: none;
  padding: unset;
}

.post-tag-pills li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 12px;
  padding: 3px 11px;
  background-color: #FF7A30;
}

.post-tag-pills li a {
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  line-height: 24px;
}


.post-author-box .title {
  margin: 30px 0;
  color: #9F00C5;
  font-weight: 600;
  font-size: 2em;
  line-height: 32px;
}

.post-author-box .content-wrapper {
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-gap: 20px;
}

.post-author-box .content-wrapper .author-avatar img {
  width: 100%;
  height: auto;
}

.post-author-box .content-wrapper .author-name {
  font-size: 1.5em;
  line-height: 36px;
}

.post-author-box .content-wrapper .author-bio {
  font-weight: 300;
  font-size: 1em;
  line-height: 26px;
  margin-bottom: 14px;
}

.single .post-author-box .btp-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  border-width: 1.5px;
} 

/* End of Single.php */



/****************
**** tag.php ****
****************/

.tag .overlay-div {
  margin-top: 5px;
  max-width: 1108px;
  padding: 50px;
}

.tag .tag-name {
  display: inline-block;
  background-color: #FF7A30;
  padding: 8px 10px 9px 10px;
  font-family: 'Poppins', serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 30px 0 34px 0;
  color: #fff;
}

.tag .orbit-post-grid {
  grid-template-columns: 1fr;
  grid-gap: 24px;
}

.tag .orbit-post-grid article.post-list {
  display: grid;
  grid-template-columns: 196px 1fr;
  grid-template-rows: 147px;
  max-height: 147px;
  grid-gap: 38px;
  background-color: unset;
}

.tag .orbit-post-grid article.post-list .feat-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tag .orbit-post-grid article.post-list .content-wrap {
  display: grid;
  font-size: 16px;
  background: unset;
  padding: unset;
  align-content: space-between;
}

.tag .orbit-post-grid article.post-list .content-wrap .post-excerpt {
  font-weight: 300;
  font-size: 1em;
  line-height: 26px;
}

.tag .orbit-post-grid article.post-list .content-wrap .meta{
  color: #828282;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875em;
  line-height: 15px;
}

.tag .page-title-separator {
  margin: unset;
}

ul.category-pills  {
  padding: unset;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.category-pills li{
  padding: 3px 5px 3.5px 5px;
  background-color: #3d3d3d;
  margin: 0 0 3px 3px;
  color: #fafafa;
  border-radius: 2px;
}

/* End of tag.php */





/* Media Queries for Mobile View - Breakpoint 480px */

@media (max-width: 480px) { 

  .featured {
    height: 140px;
  }

  main .overlay-div {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 27.4px 17px 100px 17px;
  }

  .page-title {
   font-size: 2.19em;
   line-height: 40px;
  }

  .page-title-seperator {
    margin: 15px 0px 20.46px 0px;
  }

  .page-description {
    font-weight: 300;
    font-size: 0.875em;
    line-height: 24px;
  }

  .orbit-posts-wrapper {
    margin-top: 24px;
  }
  
  .orbit-post-grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .orbit-post-grid article.post-card {
    grid-template-columns: 100px 1fr;
    grid-template-rows: 118px;
  }

  .orbit-post-grid article.post-card .content-wrap {
    padding: 0 7px;
  }

  .orbit-post-grid article.post-card .title {
    font-weight: 600;
    font-size: 1em;
    line-height: 1.18em;
  }

  .orbit-post-grid article.post-card .authors {
    font-weight: 500;
    font-size: 0.75em;
    line-height: 0.875em;
  }

  .orbit-post-grid article.post-card .meta {
    font-weight: 400;
    font-size: 0.75em;
    line-height: 0.875em;
  }

  .orbit-btn-load-parent .btp-btn {
    display: none;
  }


  .tag .overlay-div {
    padding: 20px 15px;
  }


  .tag .tag-name {
    margin: 12px 0px 18px 0px;
  }

  .tag .orbit-post-grid article.post-list {
    grid-template-columns: 100px 1fr;
    grid-template-rows: unset;
    max-height: unset;
    grid-gap: 11px;
  }

  .tag .orbit-post-grid article.post-list .feat-img {
    max-height: 115px;
  }

}